document.write("
<div class="prdetail-comp mgb10">
    <div class="grade">联系我们</div>
    <h4 class="comp-name">
        <a href="$data.userInfo.com_web" target="_blank" style="color:#0000ff;">$data.userInfo.companyName</a>
    </h4>
    <ul class="comp-txt">
        <li><span class="tl">认证状态：</span><a href="http://www.heze.cn/qynews/user-juxy89-about.html" target="_blank"><font color="red">已认证</font></a></li>
        <li><span class="tl">联 系 人 ：</span>$data.userInfo.person</li>
        <li><span class="tl">　　　　</span><span style="font-family:Verdana;"><img src="http://39.105.196.3:1874/WebService.asmx?op=CreateImg&txt=$data.userTel&font=15&fontcolor=FF0000&bgcolor=FFFFFF" align="absmiddle">&nbsp;</span></li>
        <li><span class="tl">主营产品：</span>$data.userInfo.yewu</li>
        <li><span class="tl">在线 QQ：</span><a style="display:inline-block;vertical-align:middle;" href="http://wpa.qq.com/msgrd?v =3&uin =$data.userInfo.ten_qq&site =qq&menu =yes"><img src="../static/img/qq.gif" style="vertical-align:middle;"></a></li>
        <li><span class="tl">公司地址：</span>$data.userInfo.address</li>
    </ul>
</div><div class="prdetail-other-pr mgb10 bde9e9e9"></div>");


